@font-face {
    font-family: "Aqua";
    src: url("../assets/fonts/aqua.ttf") format("truetype");
  }

@font-face {
    font-family: "Handlee-Regular";
    src: url("../assets/fonts/Handlee-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "GLD";
  src: url("../assets/fonts/TheGirlNextDoor-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "Shoreline";
  src: url("../assets/fonts/ShorelinesScriptBold.otf") format("opentype")
}

@font-face {
  font-family: "Rocketto";
  src: url("../assets/fonts/RockettoRegular.otf") format("opentype")
}
  